server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

resilience4j:
  ratelimiter:
    instances:
      recommendations:
        limitForPeriod: 30
        limitRefreshPeriod: 60s
        timeoutDuration: 0s